<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="48x48"  href="/img/logo-ikip.png">
  <title>Pesta Olahraga IKIP</title>
  <link rel="stylesheet" href="/../css/index.css">
</head>
<body>
  <div class="logo-header-container">
    <div class="logo-container">
      <img src="/img/logo-ikip.png" alt="IKIP Logo" class="logo">
    </div>
    <h1 class="header" id="header-title">PT INDONESIA KONAWE<br>INDUSTRIAL PARK</h1>
  </div>
  
  <!-- Language Dropdown Menu -->
  <div class="language-dropdown">
    <button class="dropdown-button" id="languageButton">Bahasa 语言</button>
    <ul class="dropdown-content" id="languageDropdown">
      <li><a href="#" data-lang="id" onclick="setLanguage('id')">Indonesia</a></li>
      <li><a href="#" data-lang="zh" onclick="setLanguage('zh')">简体中文</a></li>
    </ul>
  </div>

  <div class="container">
    <div class="content">
      <div class="left-content">
        <div class="circle">
          <img src="../img/79-square.png" alt="Circle Background" class="circle-image">
          <div class="circle-content">

          </div>
        </div>
        <div class="buttons-container">
          <a href="/auth/register" class="button" id="register-button">Registrasi</a>
          <a href="/auth/login" class="button-login" id="login-button">Login</a>
        </div>
      </div>

      <div class="right-content">
        <h1 class="header-right" id="header-right">PESTA OLAHRAGA<br>KEDUA</h1>

      </div>
    </div>
    <div class="filosofi">
      <img src="../img/filosofi.png" alt="" class="filosofi">
    </div>
  </div>

  <script src="/js/main.js"></script>
</body>
</html>
